// Colours
$color-primary: #D1BF98;
$color-primary-light: #F7EACF;
$color-primary-dark: #B09A6B;
$color-primary-dark-2: #8D7747;

$color-secondary: #766D8F;
$color-secondary-light: #9891A9;
$color-secondary-dark: #5A4E79;

$color-tertiary: #5E7C80;
$color-tertiary-light: #B5C1C3;
$color-tertiary-dark: #42676C;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;