// Reset

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines what 1rem is
    font-size: 62.5%; // 1 rem = 10px 10px / 16px = 62.5%
}

body {
    box-sizing: border-box;
    background: url('../img/paper-background.png') #d1bf98;
    margin: 2rem 0;
}

.section {
    margin: 3rem 0;
    border-bottom: 2px dashed $color-secondary-light;  
    padding-bottom: 5rem;
}